.cascading-right {
  margin-right: -50px;
}

.landing-page-icon {
  height: 60px;
  width: auto;
}

@media (max-width: 991.98px) {
  .cascading-right {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .d-mobile-none {
    display: none;
  }
}
