.cascading-right {
  margin-right: -50px;
}

.landing-page-icon {
  height: 60px;
  width: auto;
}

@media (max-width: 991px) {
  .cascading-right {
    margin-right: 0;
  }
  .d-cascading-none {
    display: none;
  }
}
